/**
 * @name Simplify
 * @description Simple Clean looking theme with blue colors.
 * @author Ashtrath
 * @version 1.0.0
 * @authorId 2354831939099688962
 */


/* DONT TOUCH THIS!!! */
@import url("https://dyzean.github.io/Simplify/simplify.css");

/*  Read this before editing stuff!!!
*
*   > To comment or uncomment a line you need to put those "/" and "*" characters as you can see at the beginning and ending of my comments.
*      (You don't need to put a * at each line like I do, it's just for readability). See more here : https://developer.mozilla.org/en-US/docs/Web/CSS/Comments
*
*   > You can play with the values and see how it goes, don't delete "px" after the value if you don't have knowledges in CSS.
*
*   > To change the colors, replace the HEX code with the one you picked here : https://htmlcolorcodes.com
*/

/* No scrollbars, Delete the line below if you want the scrollbar back */
::-webkit-scrollbar { display: none;}.content-1x5b-n { margin: 0 !important; border-radius: 0; }.mainContent-u_9PKf { padding-left: 8px;}.container-2Pjhx- { margin: 0; max-width: unset; }.layout-2DM8Md { border-radius: 0; padding: 0 16px;}.unread-2lAfLh { z-index: 1;} .buttons-3JBrkn { padding-right: 10px !important;}

/* Settings Modal, Delete the line below if you want the normal settings */



/* ---- Discord Variables ---- */
:root.theme-dark, .theme-light { /* I Don't support light theme, its just for "Create Server" modals */
  /* Font Family */
    --font-primary: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;


  /*  Header Color  */
    --header-primary: #fff;
    --header-secondary: #b9bbbe;

  /*  Text Color  */
    --text-normal: #f7f4f4;
    --channels-default: #ddd5d3;
    --interactive-normal: #EAE1DF;
    --interactive-hover: #EAE1DF;
    --interactive-active: #fff;
    --interactive-muted: #505355;

  /* Background Color */
    --background-primary: #1c223a;
    --background-secondary: #181d33;
    --background-secondary-alt: #14192b;
    --background-tertiary: #14192b;
    --background-accent: #4d6a91;
    --background-floating: #171d30;
    --background-mentioned: rgba(0, 186, 254, 0.5);
    --background-mentioned-hover: rgba(42, 196, 252, 0.63);

  /* Scrollbars Color */
    --scrollbar-thin-thumb: rgba(44, 49, 71, 0.658);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: rgba(67, 79, 134, 0.658);
    --scrollbar-auto-track: rgba(24, 28, 51, 0.7);
    --scrollbar-auto-scrollbar-color-thumb: rgba(67, 79, 134, 0.555);

  /* Chat */
    --channeltextarea-background: var(--background-primary);
    --channeltextarea-background-hover: var(--background-secondary);

/* ---- Addons Variables ---- */

  /* --- Channel Indicator --- */
    --indicator-hovered: rgba(79, 84, 92, 0.25);
    --indicator-rounding: 0;
    --indicator-border-info: 2px solid;

    --indicator-selected: 112, 135, 215;
    --indicator-selected-border: rgba(var(--indicator-selected));
    --indicator-selected-background: rgba(var(--indicator-selected), 0.1);
    --indicator-selected-hover: rgba(var(--indicator-selected), 0.18);

    --indicator-unread: 255, 255, 255;
    --indicator-unread-border: rgba(var(--indicator-unread), 0.6);
    --indicator-unread-background: rgba(var(--indicator-unread), 0.01);
  
    --indicator-connected: 67, 181, 129;
    --indicator-connected-border: rgba(var(--indicator-connected));
    --indicator-connected-background: rgba(var(--indicator-connected), 0.1);
    --indicator-connected-hover: rgba(var(--indicator-connected), 0.18);

  /* --- Radial Status --- */
    --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

    --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

    --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

    --rs-online-color: #43b581; /* Colour for online status */
    --rs-idle-color: #faa61a; /* Colour for idle status */
    --rs-dnd-color: #f04747; /* Colour for dnd status */
    --rs-offline-color: #636b75; /* Colour for offline status */
    --rs-streaming-color: #643da7; /* Colour for streaming status */
    --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

    --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    --container-color: var(--background-floating);
}
